.frame {
  position: relative;
  width: 4000px;
  height: 2250px;
  background-color: #ffffff;
  transform-origin: 0 0;
}

.frame .element {
  position: absolute;
  top: 0;
  left: 0;
  width: 4000px;
  height: 2250px;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.frame .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  display: flex;
}

.frame .text-wrapper {
  position: absolute;
  top: 1903px;
  left: 179px;
  font-family: "Fb Liddar-Bold", Helvetica;
  font-size: 120.3px;
  letter-spacing: 0;
  line-height: 86px;
  font-weight: 700;
  color: #1c4080;
  direction: rtl;
}

.frame .group {
  position: absolute;
  width: 3000px;
  height: 676px;
  top: 635px;
  left: 500px;
}
